// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = MOKY VPN

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = app.mokyvpn

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 MOKY VPN. All rights reserved.
